<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GamesResultsUtils.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GamesResultsUtils.Settings>
            <setting name="NsConnectionSqlServer" serializeAs="String">
                <value>Host=localhost;Port=5432;Database=bowling;Username=postgres;Password=postgres</value>
            </setting>
            <setting name="ImportFilePath" serializeAs="String">
                <value>Import\InitialData.xlsx</value>
            </setting>
            <setting name="DictionaryTypesSheetName" serializeAs="String">
                <value>DictionaryTypes</value>
            </setting>
            <setting name="DictionaryItemsSheetName" serializeAs="String">
                <value>DictionaryItems</value>
            </setting>
            <setting name="PirAppConnectionSqlServer" serializeAs="String">
                <value>Data Source=tnnc-sapsan-db;Initial Catalog=PirApp;Integrated Security=True;</value>
            </setting>
            <setting name="SapsanConnectionSqlServer" serializeAs="String">
                <value>Host=tnnc-sapsan-db;Port=5432;Database=SapsanPlus;Username=SapsanPlusUser;Password=SapsanPlusUserqwe123</value>
            </setting>
            <setting name="ObjectTypesSheetName" serializeAs="String">
                <value>ObjectTypes</value>
            </setting>
            <setting name="PagesSheetName" serializeAs="String">
                <value>Pages</value>
            </setting>
            <setting name="ObjectPropertiesSheetName" serializeAs="String">
                <value>ObjectProperties</value>
            </setting>
        </GamesResultsUtils.Settings>
    </applicationSettings>
</configuration>